@model Spending.Models.Account

@{
    ViewBag.Title = "Edit";
}

@section head
{
	<style type="text/css">
		th
		{
		    text-align: left;
		    padding-right: 10px;
		}
		th, td
		{
		    padding-top: 5px;
		    padding-bottom: 5px;
		}
	</style>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)

	<table>
		<tr>
			<th>@Html.LabelFor(model => model.Name)</th>
			<td>
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name)
			</td>
		</tr>
		<tr>
			<th>@Html.LabelFor(model => model.Balance)</th>
			<td>
				@Html.EditorFor(model => model.Balance)
				@Html.ValidationMessageFor(model => model.Balance)
			</td>
		</tr>
		<tr>
			<th>@Html.LabelFor(model => model.Owned)</th>
			<td>
				@Html.EditorFor(model => model.Owned)
				@Html.ValidationMessageFor(model => model.Owned)
			</td>
		</tr>
		<tr>
			<th>@Html.LabelFor(model => model.Order)</th>
			<td>
				@Html.EditorFor(model => model.Order)
				@Html.ValidationMessageFor(model => model.Order)
			</td>
		</tr>
	</table>

    <p>
        <input type="submit" value="Save" />
		@Html.ActionLink("Cancel", "Index")
    </p>
}

@using (Html.BeginForm("Delete", "Accounts", new { id = Model.Id }))
{
	<input type="submit" value="Delete" />
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
