@model Spending.Models.AccountGroupModel

@{ string currencyFormat = "#,##0.00"; }

<tr class="groupRow">
	<td>
		@Html.ActionLink(Model.Name, "Edit", "AccountGroups", new { id = Model.Id }, null)
		@Html.ActionLink("+ Group", "Create", "AccountSubGroups", new { groupId = Model.Id }, new { @class = "actionLnk" })
		@if (Model.SubGroups.Count == 1)
		{
			@Html.ActionLink("+ Account", "Create", new { subGroupId = Model.SubGroups[0].Id }, new { @class = "actionLnk" })
		}
	</td>
	<td>@Model.StartingTotal.ToString(currencyFormat)</td>
	<td>@Model.EndingTotal.ToString(currencyFormat)</td>
</tr>