@model Spending.Models.AccountRegisterModel

@{
    ViewBag.Title = "Register";
}

@section head
{
	<style type="text/css">
		td
		{
		    padding: 5px;
		}
		td:nth-child(1) label
		{
		    font-weight: bold;
		    font-size: 1.25em;
		}
	</style>
}

<h2>Create a New Account</h2>
<p>
    Use the form below to create a new account. 
</p>
<p>
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")

	<table>
		<tr>
			<td>@Html.LabelFor(m => m.UserName)</td>
			<td>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
			</td>
		</tr>
		<tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </td>
		</tr>
		<tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </td>
		</tr>
		<tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </td>
		</tr>
	</table>

	<p>
		<input type="submit" value="Register" />
	</p>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
