@model Spending.Models.CategoryModel

<tr class="itemRow">
	<td>
		@Html.ActionLink(Model.Name, "Edit", "Categories", new { id = Model.Id }, null)
		<input type="hidden" value="@Model.Id" />
	</td>
	<td>@Model.Starting.ToCurrencyString()</td>
	<td>@Model.Budget.ToCurrencyString()</td>
	<td>
		<div class="meter@(Model.Budget == 0 ? " zeroBudget" : "")">
			<span class="@(Model.SpentPercent == 0 ? "zeroPercent" : "")" style="width: @(Model.Budget == 0 ? 0 : Model.SpentPercent)%">
				<span>@Model.Spent.ToCurrencyString()</span>
			</span>
		</div>
	</td>
	<td>@Model.Left.ToCurrencyString()</td>
	<td>@Model.Ending.ToCurrencyString()</td>
	<td>@(Model.Ending == Model.Goal ? '=' : Model.Ending < Model.Goal ? '<' : '>')</td>
	<td>@Model.Goal.ToCurrencyString()</td>
</tr>