@model HomeModel

@{
    ViewBag.Title = "Overview";
}

@section head
{
	<style type="text/css">
		#body td { white-space: nowrap; }
		#body tbody td { border-bottom: 1px solid #F2F2F2; }

		#leftColumn { width: 225px; float: left; }
		
		#accounts thead td { }
		#accounts thead h2 { margin: 0px; padding: 0px; }
		#accounts tbody td { border-bottom: 3px solid #E1ECF7; background-color: #BCD3E9; }
		#accounts td:nth-child(1) { width: 118px; text-align: left;  padding: 8px  5px 8px 15px; }
		#accounts td:nth-child(2) { width:  65px; text-align: right; padding: 8px 15px 8px  5px; }
		
		#categories { margin-left: 240px; }
		#categories table { width: 100%; }
		#categories td:nth-child(1) { width: 150px; text-align: left;  padding: 3px 15px 3px 15px; border-right: 1px dashed #D0E0F0; }
		#categories td:nth-child(2) { width:  50px; text-align: right; padding: 3px 15px 3px 15px; border-right: 1px dashed #D0E0F0; }
		#categories td:nth-child(3) { width:  50px; text-align: right; padding: 3px  5px 3px 15px; }
		#categories td:nth-child(4) { width: 200px; text-align: left;  padding: 3px  5px 3px 15px; }
		#categories td:nth-child(5) { width:  50px; text-align: right; padding: 3px 15px 3px  5px; border-right: 1px dashed #D0E0F0; }
		#categories td:nth-child(6) { width:  50px; text-align: right; padding: 3px  5px 3px 15px; }
		#categories td:nth-child(7) { width:  15px; text-align: center; }
		#categories td:nth-child(8) { width:  50px; text-align: right; padding: 3px 15px 3px  5px; }

		#body .heading { margin-bottom: 5px; background-color: #3B414C; padding: 10px; text-align: center; color: White; }
		#body .heading h2 { color: White; margin: 0px 0px 5px; }
		#body .heading span { font-weight: bold; color: #C6D3A0; }

		#body .headings td { border-color: #5D8BBA; background-color: #5D8BBA; color: White; }
		#body .headings tbody td { border-color: #5D8BBA; }
		#body .headings td:first-child { border-left: 1px solid #5D8BBA; }
		#body .headings td:last-child { border-right: 1px solid #5D8BBA; }

		#body .group td:first-child { border-left: 1px solid #5D8BBA; }
		#body .group td:last-child { border-right: 1px solid #5D8BBA; }
		#body .group:first-child thead td { border-top: 1px solid #5D8BBA; }
		#body .group:last-child tbody tr:last-child td { border-bottom: 1px solid #5D8BBA; }

		#body .group thead td
		{
		    background-color: #BCD3E9;
		    padding-top: 5px;
		    padding-bottom: 5px;
			border-top: 1px solid #ACC3D9;
			border-bottom: 1px solid #ACC3D9;
		}

		#body .group tbody td { background-color: #FFFFFF; }
		#body .group tbody tr:last-child td { border-bottom: none; }

		#body .actionLnk { font-size: 0.85em; margin-left: 10px; float: right; color: rgba(0, 0, 0, 0.3); }
		#body .actionLnk:hover { color: #FFFFFF; }
		
		#prevMonth { float: left; color: White; }
		#nextMonth { float: right; color: White; }
	</style>
}

@{
	var prevMonth = Model.Month.AddMonths(-1);
	var nextMonth = Model.Month.AddMonths(1);
}

<div id="leftColumn">
	@Html.Partial("_Accounts", Model.AccountsInfo)
</div>
<div id="categories">
	<div class="heading">
		<div>@Html.ActionLink("Previous", "Index", new { year = prevMonth.Year, month = prevMonth.Month }, new { id = "prevMonth" })</div>
		<div>@Html.ActionLink("Next", "Index", new { year = nextMonth.Year, month = nextMonth.Month }, new { id = "nextMonth" })</div>
		<h2>@Model.Month.ToString("MMMM yyyy")</h2>
		<span>@Model.CategoriesInfo.Unassigned.ToCurrencyString()</span> Unassigned
	</div>
	<table class="headings">
		<thead>
			<tr>
				<td></td>
				<td>Starting</td>
				<td>Budget</td>
				<td>Spent</td>
				<td>Left</td>
				<td>Ending</td>
				<td></td>
				<td>Goal</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Html.ActionLink("+ Group", "Create", "CategoryGroups", null, new { @class = "actionLnk" })</td>
				<td>@Model.CategoriesInfo.Starting.ToCurrencyString()</td>
				<td>@Model.CategoriesInfo.Budget.ToCurrencyString()</td>
				<td>
					<div class="meter@(Model.CategoriesInfo.SpentPercent > 90 ? " end" : "")">
						<span style="width: @Model.CategoriesInfo.SpentPercent%"><span>@Model.CategoriesInfo.Spent.ToCurrencyString()</span></span>
					</div>
				</td>
				<td>@Model.CategoriesInfo.Left.ToCurrencyString()</td>
				<td>@Model.CategoriesInfo.Ending.ToCurrencyString()</td>
				<td></td>
				<td>@Model.CategoriesInfo.Goal.ToCurrencyString()</td>
			</tr>
		</tbody>
	</table>
	<div class="groups">
		@foreach (var group in Model.CategoriesInfo.Groups)
		{
			<table class="group" groupId="@group.Id">
				<thead>
					<tr>
						<td>
							@Html.ActionLink(group.Name, "Edit", "CategoryGroups", new { id = group.Id }, null)
							@Html.ActionLink("+ Cat", "Create", "Categories", new { groupId = group.Id }, new { @class = "actionLnk" })
						</td>
						<td>@group.Starting.ToCurrencyString()</td>
						<td>@group.Budget.ToCurrencyString()</td>
						<td>
							<div class="meter@(group.SpentPercent > 90 ? " end" : "")">
								<span style="width: @group.SpentPercent%"><span>@group.Spent.ToCurrencyString()</span></span>
							</div>
						</td>
						<td>@group.Left.ToCurrencyString()</td>
						<td>@group.Ending.ToCurrencyString()</td>
						<td></td>
						<td>@group.Goal.ToCurrencyString()</td>
					</tr>
				</thead>
				<tbody>
   					@foreach (var item in group.Items)
					{
						<tr categoryId="@item.Id">
							<td>
								@Html.ActionLink(item.Name, "Edit", "Categories", new { id = item.Id }, null)
								<input type="hidden" value="@item.Id" />
							</td>
							<td>@item.Starting.ToCurrencyString()</td>
							<td>@item.Budget.ToCurrencyString()</td>
							<td>
								<div class="meter@(item.Budget == 0 ? " zeroBudget" : "")">
									<span class="@(item.SpentPercent == 0 ? "zeroPercent" : "")" style="width: @(item.Budget == 0 ? 0 : item.SpentPercent)%">
										<span>@item.Spent.ToCurrencyString()</span>
									</span>
								</div>
							</td>
							<td>@item.Left.ToCurrencyString()</td>
							<td>@item.Ending.ToCurrencyString()</td>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
									<path d="M7 1 L2 4 L7 7" stroke="#FF6360" stroke-width="2" stroke-linecap="round" fill="none" />
								</svg>
							</td>
							<td>@item.Goal.ToCurrencyString()</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>
<script type="text/javascript">
	var updateGroupOrderUrl = '@Html.Raw(Url.Action("UpdateOrder", "CategoryGroups", new { id = "ID", order = "ORDER" }))';
	var updateOrderUrl = '@Html.Raw(Url.Action("UpdateOrder", "Categories", new { id = "ID", groupId = "GROUPID", order = "ORDER" }))';

	$(function () {
		$("#categories .groups").sortable({
			axis: "y",
			update: function (event, ui) {
				var item = ui.item.prev();
				var order = 0;

				while (item.length > 0) {
					order = order + 1;
					item = item.prev();
				}

				$.ajax({
					type: "POST",
					url: updateGroupOrderUrl.replace("ID", ui.item.attr("groupId")).replace("ORDER", order),
					success: function(data, textStatus, jqXHR) {
						window.location.href = "@Url.Action("Index")";
					}
				});
			}
		});

		$("#categories .groups table tbody").sortable({
			axis: "y",
			connectWith: "#categories .groups table tbody",
			update: function (event, ui) {
				var item = ui.item.prev();
				var order = 0;

				while (item.length > 0) {
					order = order + 1;
					item = item.prev();
				}

				$.ajax({
					type: "POST",
					url: updateOrderUrl
						.replace("ID", ui.item.attr("categoryId"))
						.replace("GROUPID", ui.item.parents("table").attr("groupId"))
						.replace("ORDER", order),
					success: function(data, textStatus, jqXHR) {
						window.location.href = "@Url.Action("Index")";
					}
				});
			}
		});
	});
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydrag")
}
